div{
    text-align: center;
    font-size: medium;
    font-style: italic;
 
}
img{
    display: block;
    margin: 0 auto;
    width: 20%;
}

.error-output{
    margin-left: 10px;
    font-size: 14px;
    font-style: italic;
    color: red;
}